<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
 
  <connectionStrings>
    <add name="Hangman.Properties.Settings.dbHangmanConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbHangman.mdf;Integrated Security=True"          
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="hgm1" value="pack://application:,,,/Hangman;component/hgm1.jpg"/>
    <add key="hgm2" value="pack://application:,,,/Hangman;component/hgm2.jpg"/>
    <add key="hgm3" value="pack://application:,,,/Hangman;component/hgm3.jpg"/>
    <add key="hgm4" value="pack://application:,,,/Hangman;component/hgm4.jpg"/>
    <add key="hgm5" value="pack://application:,,,/Hangman;component/hgm5.jpg"/>
    <add key="hgm6" value="pack://application:,,,/Hangman;component/hgm6.jpg"/>
    <add key="hgm7" value="pack://application:,,,/Hangman;component/hgm7.jpg"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>